.text
{
     color: rgb(110, 64, 4);
     font-size: 45;
text-align: center;
}

.text2{
   text-align: center;
   color: azure;
   font-size: 30;
    background-color: darkgreen;
    
}
.text3{
    text-align: center;
    color: rgb(1, 20, 20);
    font-size: 20;
    background: rgb(236, 135, 3);
    
     
 }
 .T1{
    align-self: center;
 }